<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet"
          href="{{ url_for('static', path='/style.css')}}">
</head>
<body>
<h3 class="data_title">Enter the data</h3>
<form action="/send_data" method="post">
    Enter sum of order <br>
    <input type="number" name="total_due" step=".01"> <br>
    Enter date of order <br>
    <input type="date" name="date_sale" value={{date}}> <br>
    Enter id of manager <br>
    <input type="number" name="manager_id"> <br>
    <button type="submit" onclick="window.location='/'">Enter</button>
    <br>
</form>
<div class="result">
    <h3>Sending data</h3>
    <p>Total Due: {{total_due}}</p>
    <p>Date: {{date_sale}}</p>
    <p>Manager id: {{manager_id}}</p>
    <h3>Information in Database</h3>
    <select name="Show info" id="db">
        {% for item in res %}
            <option>{{item}}</option>
        {% endfor %}
    </select> <br>
    <button type="button" style="margin-top: 20px" onclick="window.location='/delete'">Delete Data from Data Base</button>
</div>
</body>
</html>